body {
    max-height: 100vh;
}

section {
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.containerItem {
    flex-basis: 15%;
    max-width: 15%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.75);
}

.sectionDuHaut {
    height: 176px;
    align-items: center;
}

.flexBasis15{
    flex-basis: 15%;
}

img {
    width: 100%;
    height: 126px;
    object-fit: cover;
    object-position: top;
}

.flexBasis15 img:hover{
    cursor: pointer;
}

h1 {
    text-decoration: underline;
}

h2 {
    font-size: 1.2em;
    margin: 2px auto;
    font-weight: bold;
    text-align: center; 
}

.lien {
    text-decoration: none;
    color: white;
}

p {
    line-height: 2em;
    font-size: 1.3em;
}

/***************/
/* Button */
/***************/

button {
    width: 200px;
    height: 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #555555;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
button:hover {background-color: #474747}
  
button:active {
    background-color: #474747;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
